* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 20px;
    background-color: #708090;

}

section {
    width: 30%;
    margin: auto;
    background-color: #f7cdd4;
    padding: 25px;
    border-radius: 10px;
    padding-bottom: 70px;

    text-align: center;
}

section h1 {
    margin-bottom: 15px;
}

section h4 {
    padding: 5px;
}

section input {
    margin-bottom: 10px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    text-align: center;
}

#resultado {
    font-weight: 700;
}

button {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    cursor: pointer;
}

button:hover {
    background-color: #d799a4;
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px #db77bb;
    transition-duration: 0.5s;
}

#estado-nutricional {
    font-size: 18px;
}

@media (max-width: 768px) {
    section {
        width: 85%;
    }

    section h1 {
        font-size: 35px;
    }

    section h4 {
        font-size: 25px;
    }

    section input {
        height: 25px;
        font-size: 16px;
        margin-bottom: 15px;
    }

    button {
        font-size: 16px;
        height: 40px;
        width: 100px;
        margin-bottom: 55px;
    }
}